<div class="products-container">
    <div class="banner">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/media/banner/granola-banner.png" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="product-cards">
        <div class="card" style="width: 18rem;">
            <img src="/assets/media/products/coconut-granola.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Granola de Coco</h3>
                <h6>200 gr</h6>
                <h6>$6000</h6>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/media/products/traditional-granola.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Granola Tradicional</h3>
                <h6>200 gr</h6>
                <h6>$5000</h6>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/media/products/green-apple-granola.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Granola de Manzana Verde</h3>
                <h6>250 gr</h6>
                <h6>$7000</h6>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/media/products/light-granola.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Granola Light</h3>
                <h6>230 gr</h6>
                <h6>$7200</h6>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/media/products/red-fruit-granola.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Granola de Frutos Rojos</h3>
                <h6>260 gr</h6>
                <h6>$8300</h6>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/media/products/vanilla-granola.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Granola de Vainilla</h3>
                <h6>250 gr</h6>
                <h6>$6500</h6>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/media/products/coconut-granola.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Granola de Coco</h3>
                <h6>200 gr</h6>
                <h6>$6000</h6>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/assets/media/products/traditional-granola.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Granola Tradicional</h3>
                <h6>200 gr</h6>
                <h6>$5000</h6>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>