<div class="about-us-container">
    <div class="images">
        <img src="/assets/media/products/vanilla-granola.png" alt="img_vanilla_granola">
        <img src="/assets/media/products/coconut-granola.png" alt="img_coconut_granola">
        <img src="/assets/media/products/light-granola.png" alt="img_light_granola">
        <img src="/assets/media/products/traditional-granola.png" alt="img_traditional_granola">
    </div>
    <div class="text">
        <h1>Nuestra Empresa</h1>
        <p>Industrias Alimenticias Vitarrico perteneciente al sistema educativo reconoce a Dios como Creador, Redentor y
            Sustentador del ser humano y del universo; y en armonía con los principios filosóficos y educativos
            inspirados por el Espíritu Santo, evidenciados en la naturaleza, ejemplificados por Jesucristo, expuestos en
            las Sagradas Escrituras y tal como los profesa la iglesia Adventista del Séptimo Día, declara como su
            misión: Propiciar y fomentar una significativa relación del ser humano con Dios por medio de la difusión y
            promoción de un estilo de vida saludable a través de la producción y comercialización de alimentos sanos. En
            consecuencia, Industrias Alimenticias Vitarrico se define como una industria educativa sin ánimo de lucro,
            que desarrolla su labor formativa enmarcada en el servicio a Dios y a la sociedad en general. El trabajo de
            Vitarrico se fundamenta en cuatro pilares: la formación integral, la cultura investigativa, la excelencia en
            el servicio y la relación global, donde el ser humano es el propósito fundamental del proceso restaurador
            que persigue el desarrollo armónico de los aspectos físicos, mentales, sociales y espirituales. La Misión se
            desarrollará en procura de altos niveles de calidad educativa y empresarial, a través de un personal
            calificado y con un profundo sentido de compromiso, apoyado en el uso óptimo de los recursos físicos,
            financieros y tecnológicos.</p>
    </div>
</div>
<app-footer></app-footer>