.about-us-container {
    height: auto;
    display: grid;
    grid-template-columns: 45% 55%;
    max-width: 100%;
    margin-bottom: -120px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.images img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    padding: 12px;
}

.text {
    text-align: end;
    margin: 50px;
}

.text h1{
    font-family: 'Varela Round', sans-serif;
    text-decoration: underline;
    padding-bottom: 2rem;
}

.text p{
    font-size: 20px;
    font-family: 'Baloo Tammudu 2', cursive;
}