<div class="orders-admin-container">
    <div class="orders-admin-title-bar">
        <h1>ORDENES</h1>
    </div>
    <div class="orders-admin-content">
        <mat-card>
            <div class="info-order">
                <h3>Enviado</h3>
                <h3>Cliente</h3>
                <h3>20/05/2022</h3>
            </div>
            <div class="products-list">
                <h5>Productos</h5>
                <ul>
                    <li>Granola coco</li>
                    <li>Granola light</li>
                    <li>Chocoalmendra</li>
                    <li>Vitavena Fresa</li>
                </ul>
            </div>
            <div class="opt-btn">
                <button mat-raised-button (click)="deleteOrder()">Eliminar</button>
            </div>
        </mat-card>

        <mat-card>
            <div class="info-order">
                <h3>Recibido</h3>
                <h3>Cliente</h3>
                <h3>25/05/2022</h3>
            </div>
            <div class="products-list">
                <h5>Productos</h5>
                <ul>
                    <li>Vitavena Vainilla</li>
                    <li>InstaSoya</li>
                    <li>Zumo de Uva</li>
                </ul>
            </div>
            <div class="opt-btn">
                <button mat-raised-button (click)="deleteOrder()">Eliminar</button>
            </div>
        </mat-card>
        
        <mat-card>
            <div class="info-order">
                <h3>Recibido</h3>
                <h3>Cliente</h3>
                <h3>28/05/2022</h3>
            </div>
            <div class="products-list">
                <h5>Productos</h5>
                <ul>
                    <li>Vitavena Avena Molida</li>
                    <li>Anillos Frutados</li>
                    <li>Granola Vainilla</li>
                    <li>Aritos Kokomiel</li>
                    <li>Cereal Muesli</li>
                    <li>Vitavena Avena en Hojuelas</li>
                </ul>
            </div>
            <div class="opt-btn">
                <button mat-raised-button (click)="deleteOrder()">Eliminar</button>
            </div>
        </mat-card>
    </div>
</div>