<body>
    <mat-card>
        <mat-card-content>
            <img mat-card-sm-image src="/assets/media/icons/product_home_admin.png" alt="product_home_admin">
            <mat-card-title>Productos</mat-card-title>
            <button mat-stroked-button type="button" (click)="openProducsAdminRoute()">Ver Productos</button>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <img mat-card-sm-image src="/assets/media/icons/client_home_admin.png" alt="client_home_admin">
            <mat-card-title>Clientes</mat-card-title>
            <button mat-stroked-button type="button" (click)="openClientsAdminRoute()">Ver Clientes</button>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <img mat-card-sm-image src="/assets/media/icons/provider_home_admin.png" alt="provider_home_admin">
            <mat-card-title>Proveedores</mat-card-title>
            <button mat-stroked-button type="button" (click)="openProvidersRoute()">Ver Proveedores</button>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <img mat-card-sm-image src="/assets/media/icons/order_home_admin.png" alt="order_home_admin">
            <mat-card-title>Ordenes</mat-card-title>
            <button mat-stroked-button type="button" (click)="openOrdersRoute()">Ver Pedidos</button>
        </mat-card-content>
    </mat-card>
</body>