<div class="shopping-car-container">
    <div class="shopping-car-title">
        <h1>CARRITO DE COMPRA</h1>
    </div>
    <div class="shopping-car-content">
        <div class="products-cards">
            <mat-card class="shopping-car-category">
                <mat-card-title>Tus Productos</mat-card-title>
                <div></div>
                <mat-card-title>Precio</mat-card-title>
                <mat-card-title>Cantidad</mat-card-title>
                <mat-card-title>Total</mat-card-title>
            </mat-card>

            <mat-card>
                <img mat-card-sm-image src="/assets/media/products/vanilla-granola.png" alt="shopping-car-product">
                <div class="info-product">
                    <mat-card-title>Granola de Vainilla</mat-card-title>
                    <mat-card-subtitle>250 gr</mat-card-subtitle>
                </div>
                <h6>$6500</h6>
                <input type="number" placeholder="1">
                <h6>$6500</h6>
                <div class="img-trash-can">
                    <img src="/assets/media/icons/trash_can.png" alt="trash-can-shopping-car">
                </div>
            </mat-card>

            <mat-card>
                <img mat-card-sm-image src="/assets/media/products/coconut-granola.png" alt="shopping-car-product">
                <div class="info-product">
                    <mat-card-title>Granola de Coco</mat-card-title>
                    <mat-card-subtitle>200 gr</mat-card-subtitle>
                </div>
                <h6>$6000</h6>
                <input type="number" placeholder="2">
                <h6>$12000</h6>
                <div class="img-trash-can">
                    <img src="/assets/media/icons/trash_can.png" alt="trash-can-shopping-car">
                </div>
            </mat-card>

            <mat-card>
                <img mat-card-sm-image src="/assets/media/products/light-granola.png" alt="shopping-car-product">
                <div class="info-product">
                    <mat-card-title>Granola Light</mat-card-title>
                    <mat-card-subtitle>230 gr</mat-card-subtitle>
                </div>
                <h6>$7200</h6>
                <input type="number" placeholder="1">
                <h6>$7200</h6>
                <div class="img-trash-can">
                    <img src="/assets/media/icons/trash_can.png" alt="trash-can-shopping-car">
                </div>
            </mat-card>

            <mat-card>
                <img mat-card-sm-image src="/assets/media/products/green-apple-granola.png" alt="shopping-car-product">
                <div class="info-product">
                    <mat-card-title>Granola de Manzana Verde</mat-card-title>
                    <mat-card-subtitle>250 gr</mat-card-subtitle>
                </div>
                <h6>$7000</h6>
                <input type="number" placeholder="2">
                <h6>$14000</h6>
                <div class="img-trash-can">
                    <img src="/assets/media/icons/trash_can.png" alt="trash-can-shopping-car">
                </div>
            </mat-card>

            <mat-card>
                <img mat-card-sm-image src="/assets/media/products/red-fruit-granola.png" alt="shopping-car-product">
                <div class="info-product">
                    <mat-card-title>Granola de Coco</mat-card-title>
                    <mat-card-subtitle>260 gr</mat-card-subtitle>
                </div>
                <h6>$8300</h6>
                <input type="number" placeholder="2">
                <h6>$16600</h6>
                <div class="img-trash-can">
                    <img src="/assets/media/icons/trash_can.png" alt="trash-can-shopping-car">
                </div>
            </mat-card>

            <mat-card>
                <img mat-card-sm-image src="/assets/media/products/traditional-granola.png" alt="shopping-car-product">
                <div class="info-product">
                    <mat-card-title>Granola Tradicional</mat-card-title>
                    <mat-card-subtitle>200 gr</mat-card-subtitle>
                </div>
                <h6>$5000</h6>
                <input type="number" placeholder="3">
                <h6>$15000</h6>
                <div class="img-trash-can">
                    <img src="/assets/media/icons/trash_can.png" alt="trash-can-shopping-car">
                </div>
            </mat-card>
        </div>
        <div class="total-price-card">
            <div class="total-value">
                <mat-card-title>Total</mat-card-title>
                <h5>$71300</h5>
            </div>
            <button>Finalizar Compra</button>
        </div>
    </div>
</div>
<app-footer></app-footer>