* {
  text-align: center;
  font-family: 'Rancho';
}

:host {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

div {
  background-color: white;
  padding: 2rem;
  border-radius: 4px;
}

.cont {
  margin-bottom: -80px;
}

form div {
  width: 100%;
  min-width: 500px;
  position: relative;
  padding: 0;
}

form button {
  background-color: #FFC43F;
  color: black;
  float: none;
  width: 400px;
  border-radius: 8px;
  padding: 8px;
}

form input {
  width: 100%;
  padding: 10px 5px;
  border-radius: 6px;
  border-color: gainsboro;
  text-align: left;
  margin-bottom: 15px;
}