<div class="footer">
    <div class="divisions">
        <div class="divisions-content">
            <h5>Suscribete para recibir más información 
                sobre nuestros nuevos productos</h5>
            <input type="correo electrónico" placeholder="correo electrónico">
            <button type="button" class="btn btn-outline-warning">Suscribirme</button>
        </div>
        <div class="divisions-line"></div>
        <div class="divisions-content">
            <h5>Siguenos en Nuestras
                Redes Sociales</h5>
            <div class="social-media">
                <img src="assets/media/footer/img-facebook.png" alt="img-facebook">
                <a href="https://www.facebook.com/vitarricooficial" class="link-light">@vitarricooficial</a>
                <img src="assets/media/footer/img-instagram.png" alt="img-instagram">
                <a href="https://www.instagram.com/vitarricooficial/" class="link-light">@vitarricooficial</a>
            </div>
        </div>
        <div class="divisions-line"></div>
        <div class="divisions-content">
            <h5>Contáctanos</h5>
            <h6>(4) 250 5106</h6>
            <h6><b>Whatsapp </b>315 366 58 14</h6>
            <h6><b>Correo </b>servicio.al.cliente@vitarrico.com.co</h6>
        </div>
        <div class="divisions-line"></div>
        <div class="divisions-content">
            <h5>Visítanos</h5>
            <h6>Medellín, Antioquia</h6>
            <h6>Calle 34 # 85 C – 1</h6>
        </div>
    </div>
</div>